/* Set the height of the Swiper container and make it responsive */
.swiper {
    
    height: 400px; /* Adjust height as needed */
   
    margin-bottom: 4em;
    margin-left: 4em;
    margin-right: 4em;
   
  }
  
  /* Ensure images fill the container without distortion */
  .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures images cover the area without stretching */
  }
  
  /* Media query for mobile devices */
  @media (max-width: 768px) {
    .swiper {
      height: 200px; /* Reduce height on smaller screens */
    }
  }
  