/* Base styles for the navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 2rem;
  z-index: 1000;
  transition: background-color 0.3s ease;
  background-color: transparent;
  margin-top: 1rem;
  box-sizing: border-box;
}

.navbar-scrolled {
  background-color: #4a787d;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 11%;
  top: -1rem;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.navbar-logo {
  font-family: "Brush Script MT", cursive;
  font-size: 3rem;
  font-weight: bold;
  color: black;
}

/* Menu styles */
.navbar-menu ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-menu ul li {
  margin-left: 2rem;
}

.navbar-menu ul li a {
  color: black;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navbar-menu ul li a:hover {
  color: #bc8741;
}
.signin-button {
  background-color: #4a787d; /* Green color */
  color: white !important;
  padding: 10px 20px;
  border-radius: 2px;
  
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
  
}

.signin-button:hover {
  background-color: #218838; /* Darker green on hover */
}

.navbar-line {
  height: 3px;
  background-color: #bc8741;
  width: 100%;
  margin-top: 0.5rem;
}

/* Hamburger icon styles for mobile */
.navbar-toggle {
  display: none;
  cursor: pointer;
  color: #bc8741;
  font-size: 1.5rem;
}

/* Responsive styles */
@media (max-width: 768px) {
  .navbar-toggle {
    display: block;
  }

  .navbar-menu {
    display: none;
  }

  .navbar-menu.active {
    display: flex;
    flex-direction: column;
    background-color: #bc8741;
    position: absolute;
    top: 97%;
    right: 0;
    width: 100%;
    padding: 1rem 0;
  }

  .navbar-menu ul {
    flex-direction: column;
    align-items: center;
  }

  .navbar-menu ul li {
    margin: 1rem 0;
  }

  .navbar-menu ul li a {
    font-size: 1.2rem;
    color: white;
  }

  .navbar-menu ul li a:hover {
    color: black;
  }
}

/* Styles for navbar when scrolled */
.navbar-scrolled .navbar-logo {
  color: white;
}

.navbar-scrolled .navbar-user {
  color: white;
}

.navbar-scrolled .navbar-menu ul li a {
  color: white;
}

.navbar-scrolled .navbar-menu ul li a:hover {
  color: black;
}

.navbar-scrolled .navbar-line {
  display: none;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: relative;
}

.navbar-user {
  color: #000000;
  font-weight: 700;
  padding-left: 1rem;
  font-size: 0.99rem;
  white-space: nowrap;
  font-style: italic;
}

.navbar-left {
  display: flex;
  align-items: center;
}

/* Optional: tweak for mobile view */
@media (max-width: 768px) {
  .navbar-user {
    position: absolute;
    top: 60px;
    right: 20px;
    color: #887908;
  }
}
